<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../../Movie/static/main/css/style.css' %}?v=3">
</head>
<body>
    <nav>
        <a href="{% url 'main:home' %}">Home</a>
        <a href="{% url 'main:top5' %}">Top 5</a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <h4>Todos os direitos Reservados</h4>
            <p>Desenvolvido pela trio: Mim, eu mesmo e eu</p>
    </footer>
</body>
</html>