<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}?v=56">
</head>
<body>
    <nav>
        <div class="nav-center">
            <a href="{% url 'main:home' %}">Home</a>
            <a href="{% url 'main:top5' %}">Top 5</a>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <a href="{% url 'main:perfil' %}">Meu Perfil</a>
                <form id="logout-form" action="{% url 'user:logout' %}" method="post">
                    {% csrf_token %}
                </form>

                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    Sair
                </a>
            {% else %}
                <a href="{% url 'user:login' %}">Entrar</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <h4>Todos os direitos Reservados</h4>
            <p>Desenvolvido pela dupla: Leandro e Leonardo</p>
    </footer>
</body>
</html>