{% extends 'main/base.html' %}
{% block title %}Gêneros{% endblock %}

{% block content %}
    <h1>Gêneros</h1>
    <section class="section-container">
        {% if generos %}
            {% for genero in generos %}
                <a href="{% url 'main:genero' genero.nome %}" class="card card--genero-link">
                    <h2>{{ genero.nome }}</h2>
                    {% if genero.descricao %}
                        <p>{{ genero.descricao|truncatewords:15 }}</p> {% else %}
                        <p>Sem descrição disponível...</p>
                    {% endif %}
                </a>
            {% endfor %}
        {% else %}
            <div class="empty-state-message">
                <h2>Nenhuma biografia encontrada</h2>
                <p>Não encontramos ninguém com o nome "{{ query }}". Tente uma busca diferente.</p>
            </div>
    {% endif %}
    </section>
{% endblock %}