{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Filmes em Destaque</h1>

    <section class="section-filmes">
        {% for filme in filmes %}
            <div class="filme">
                <h2>{{ filme.titulo }}</h2>

                <img src="{{ filme.capa.url }}">
                <p>{{ filme.sinopse }}</p>
                <form method="post" action="{% url 'main:alugar' filme.pk  %}">
                    {% csrf_token %}
                    <button>Alugar</button>
                </form>
                <h3>Elenco: </h3>

                <ol>
                    {% for ator in filme.elenco.all %}
                        <li><a href="{% url 'main:biografia' ator.nome|urlencode %}">{{ ator.nome }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    </section>
{% endblock %}