{% extends 'main/base.html' %}

{% block title %}Top 5{% endblock %}
{% block content %}
    <h1>Os 5 filmes mais assistidos na cidade</h1>

    <div class="panel panel--tabela">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Gênero</th>
                    <th>Direção</th>
                </tr>
            </thead>
            <tbody>
                {% for filme in filmes %}
                    <tr>
                        <td><a href="{% url 'main:filme' filme.titulo|urlencode %}">{{ filme.titulo }}</a></td>
                        <td>
                            {% for genero in filme.genero.all %}
                                <a href="{% url 'main:genero' genero.nome %}">{{ genero.nome }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for diretor in filme.direcao.all %}
                                <a href="{% url 'main:biografia' diretor.nome|urlencode %}">{{ diretor.nome }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}